[Unit]
Description=A high performance web server and a reverse proxy server
After=network.target network-online.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/nginx-copilotc-web.pid
PrivateDevices=yes
SyslogLevel=err

ExecStart=/usr/bin/nginx -g 'pid /run/nginx-copilotc-web.pid; error_log stderr;' -c /etc/nginx/nginx-copilotc.conf
ExecReload=/usr/bin/nginx -g 'pid /run/nginx-copilotc-web.pid; error_log stderr;' -c /etc/nginx/nginx-copilotc.conf -s reload
KillSignal=SIGQUIT
KillMode=mixed

[Install]
WantedBy=multi-user.target
